data/test_labels_PRIVATE.csv

results/*.pkl
results/*.pt

__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/

.ipynb_checkpoints/

venv/
.venv/
env/

.vscode/
.idea/

.kaggle/
.DS_Store
Thumbs.db
*.log
